
#request_forms {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100% ;
    background-color: #cccccc;
}

#request_forms td, #request_forms th {
    border: 1px solid #ddd;
    padding: 8px;
}

#request_forms tr:nth-child(even){
    background-color: #999999;
}

#request_forms tr:hover {
    background-color: #9999ff;
}

#request_forms th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #454545;
    color: white;
}

/* form styling */
body {
    background-color: beige;
}

.container {
    max-width:800px;
    margin:0 auto;
    text-align:center;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    border-color: #ddd;
    /*background-color:#dad55e;*/
}
.head {
    -webkit-border-radius:6px 6px 0px 0px;
    -moz-border-radius:6px 6px 0px 0px;
    border-radius:6px 6px 0px 0px;
    background-color:#454545;
    color:#FAFAFA;
}
h2 {
    text-align:left;
    /*padding:18px 0 18px 0;*/
}

#targetHosts {
    background-color: #044344;
}

textarea:first-of-type {
    height:100px;
    width: 400px;
    background-color: #999999;
    /*margin-bottom:10px;*/
}

input:first-of-type
{
    width: 400px;
    background-color: #cccccc;
    /*margin-top:35px;*/
}

#shareType {
    width: 300px;
    float: right;
}

span {
    font-size: 20px;
}

input, textarea {
    font-size: 15px;
    padding: 15px 10px 10px;
    font-family: 'Source Sans Pro',arial,sans-serif;
    border: 1px solid #cecece;
    color:#FAFAFA;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 80%;
    max-width: 600px;
}

::-webkit-input-placeholder {
    color: #454545;
}
:-moz-placeholder {
    color: #FAFAFA;  
}
::-moz-placeholder {
    color: #FAFAFA; 
}
:-ms-input-placeholder {  
    color: #FAFAFA;  
}
button {
    margin-top:15px;
    margin-bottom:25px;
    background-color:#2ABCA7;
    padding: 12px 45px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid  black;
    -webkit-transition: .5s;
    transition: .5s;
    display: inline-block;
    cursor: pointer;
    width:30%;
    color: black;
}
button:hover, .button:hover {
    background: #991d1d;
}
